* {
    margin: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.carousal {
    position: relative;
    background-color: rgb(207, 213, 219);
    height: 60%;
    width: 50%;
    display: flex;
}

.carousal .prev_btn,
.carousal .image,
.carousal .next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.carousal .image {
    width: 100%;
}

.carousal .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousal .prev_btn {
    position: absolute;
    font-size: 4rem;
    width: 10%;
    top: 0;
    left: 0;
    background: rgb(136, 136, 139);
    background: linear-gradient(270deg, rgba(136, 136, 139, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.carousal .next_btn {
    position: absolute;
    font-size: 4rem;
    top: 0;
    right: 0;
    width: 10%;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(136, 136, 139, 0) 50%);
}

.carousal .prev_btn:hover {
    cursor: pointer;
    background: rgb(136, 136, 139);
    background: linear-gradient(270deg, rgba(136, 136, 139, 0.1) 50%, rgba(0, 0, 0, 0.7) 100%);
}

.carousal .next_btn:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(136, 136, 139, 0.1) 50%);
}

.white {
    color: white;
}

#p {
    
    font-size: 4rem;
}

h1 {
    font-size: 6rem;
}

.info {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.button {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.slideshow {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    font-size: 1.6rem;
}

input[type="number"] {
    width: 20%;
    padding: 0.5rem;
    font-size: 1.6rem;
}

input[type="number"]:focus {
    outline: none;
}

.wrapStartBtn {
    
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

/* Responsive design */
@media (max-width:800px) {


    html {
        font-size: 50%;
    }

    .carousal {
        height: 40%;
        width: 90%;
    }
    .white {
             font-size: 2rem;
    }
    #p {
        font-size: 2.6rem;
    }
    .carousal .prev_btn,
    .carousal .next_btn {
        width: 6%;
    }
    .button {
        padding: 1rem 2rem;
    }
    .slideshow {
        width: 90%;
        font-size: 1.6rem;
    }
    .wrapStartBtn {
               width: 60%;
    }

}